.portfolio {
  justify-content: space-around;
}

.box {
  width: 220px;
  max-height: 400px;
  padding: 1px;
  margin: 50px;
  background-color: #465e73;
  box-shadow: 5px 3px 9px 1px #465e73;
}

.project {
  max-width: 1024px;
  padding: 50px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
