.project-div {
  min-height: 100vh;
}

.container-fluid {
  display: flex;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.project-heading {
  color: azure;
  text-align: right;
  margin: 50px 50px;
  padding-right: 50px;
  font-size: 30px;
  font-family: Montserrat;
}

.inner-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.custom-style {
  display: flex;
  align-content: space-around;
  width: 250px;
  height: 350px;
  margin: 20px;
  border: 1px solid;
}

.project-title {
  font-style: normal;
  font-weight: bold;
}

.box {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.box:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.pro-link {
  padding: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Montserrat;
}

a:hover {
  color: darkred;
}

@media only screen and (max-width: 428px) {
  .project-div {
    box-sizing: 100%;
    width: 100%;
    margin-top: 125px;
  }
  .project-heading {
    /* display: none; */
    font-size: 20px;
    padding-right: 0px;
  }

  .container-fluid {
    width: 437px;
    margin-top: 40px;
    justify-content: space-around;
    overflow-x: hidden;
  }
}
