.side-nav {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

.a {
  color: azure;
  padding: 6px 8px 6px 16px;
  font-size: 30px;
}

.name {
  color: azure;
  padding: 6px 8px 6px 16px;
  font-size: 40px;
}

.img {
  margin: 50px 20px 15px;
  width: 85%;
  border-radius: 40%;
  background-position: center;
  box-shadow: 5px 5px 15px #36353554;
}

.side-nav a:hover {
  color: #080808;
  background-color: aliceblue;
  border-radius: 20%;
}
