.nav-img {
  width: 50%;
  padding: 15px;
  border-radius: 40%;
}

.sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(37, 36, 36);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav .a-link {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav .a-link:hover {
  color: hsl(0, 0%, 100%);
  background-color: azure;
  color: #111;
  border-radius: 10px;
}

.name {
  color: azure;
}

.footer-link {
  height: 15px;
  font-size: 25px;
}

.footer-link a:hover {
  color: azure;
}

.footer-line {
  color: azure;
  font-size: 20px;
  margin-top: 5px;
}
