.skill {
  min-height: 100vh;
  margin-top: 75px;
  background-color: #1e1e1e;
}
.skills-heading {
  color: azure;
  text-align: right;
  margin: 50px 50px;
  padding-right: 50px;
  font-size: 30px;
  font-family: Montserrat;
}

.para-skills {
  margin-top: 0px;
  padding: 15px;
  border-color: whitesmoke;
  font-family: Montserrat;
}

.text-skills {
  color: azure;
  font-size: 25px;
  text-align: left;
}

.heading-lng {
  color: azure;
  font-size: 25px;
  text-align: left;
  font-family: Montserrat;
}

@media only screen and (max-width: 428px) {
  .skill {
    align-content: flex-start;
    margin-top: 120px;
  }

  .skills-div {
    margin-top: 50px;
    /* border-bottom: 2px solid whitesmoke; */
  }

  .skills-heading {
    /* display: none; */
    font-size: 20px;
    padding-right: 0px;
  }
  .para-skills {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    padding: 0;
  }
  .heading-lng {
    font-size: 18px;
    margin-bottom: 0;
    padding: 0px 30px;
  }
  .text-skills {
    font-size: 12px;
    margin-bottom: 0;
    padding: 0px 30px;
  }
}
