.about {
  width: 100%;
  height: 100vh;
  margin-top: 25px;
  background-color: #1e1e1e;
  overflow-x: hidden;
}

.text-heading {
  color: azure;
  text-align: right;
  margin: 50px 50px;
  padding-right: 10px;
  font-size: 30px;
  font-family: Montserrat;
}

.para-about {
  padding: 15px;
  font-family: Montserrat;
  text-align: center;
}

.text-about {
  color: azure;
  font-size: 20px;
  text-align: justify;
  padding: 10px;
  margin-right: 100px;
  font-size: 25px;
}

@media only screen and (max-width: 428px) {
  .about {
    align-content: flex-start;
    height: 100vh;
    margin-top: 90px;
  }

  .text-heading {
    /* display: none; */
    font-size: 20px;
    padding-right: 0px;
    margin: 30px 25px;
  }
  .para-about {
    margin-top: 25px;
    text-align: justify;
    padding: 0;
  }

  .text-about {
    font-size: 12px;
    margin-bottom: 0;
    padding: 0px 30px;
    margin-right: 0px;
  }
}
