.about {
  width: 100%;
  height: 100vh;
  margin-top: 75px;
  background-color: #1e1e1e;
  overflow-x: hidden;
}

.text-heading {
  color: azure;
  width: 100%;
  text-align: right;
  padding-right: 50px;
  margin-right: 50px;
  font-size: 30px;
}

.para-about {
  margin-bottom: 0px;
  padding: 15px;
}

.text-about {
  color: azure;
  font-size: 20px;
  text-align: justify;
  padding: 30px;
}

@media only screen and (max-width: 428px) {
  .about {
    align-content: flex-start;
    height: 100vh;
    margin-top: 160px;
  }

  .text-heading {
    display: none;
  }
  .para-about {
    margin-top: 50px;
    text-align: justify;
    padding: 0;
  }

  .text-about {
    font-size: 12px;
    margin-bottom: 0;
    padding: 0px 30px;
  }
}
