.contact-div {
  height: 100vh;
  margin-top: 25px;
}

.contact-heading {
  color: azure;
  text-align: right;
  margin: 50px 50px;
  padding-right: 50px;
  font-size: 30px;
}

.para-contact {
  padding-right: 50px;
  padding-bottom: 25px;
  border-bottom: 3px solid whitesmoke;
}

.contact-text {
  color: azure;
  font-size: 25px;
}

.div-footer {
  height: 100%;
  margin-top: 50px;
  /* border: 5px solid white; */
}

@media only screen and (max-width: 428px) {
  .contact-div {
    align-content: flex-start;
    margin-top: 120px;
  }

  .contact-heading {
    /* display: none; */
    font-size: 20px;
    padding-right: 0px;
  }

  .para-contact {
    margin-top: 40px;
    text-align: justify;
    padding: 0;
  }

  .contact-text {
    font-size: 12px;
    margin-bottom: 25px;
    padding: 0px 30px;
  }

  .div-footer {
    height: 100px;
    margin: 30px 30px;
    padding: 25px 25px;
    background-color: beige;
  }

  .footer-link {
    height: 50px;
    background-color: white;
    color: azure;
  }
}
