.contact-div {
  height: 100vh;
  margin-top: 25px;
}

.contact-heading {
  color: azure;
  text-align: right;
  margin: 50px 50px;
  padding-right: 75px;
  font-size: 40px;
}

.para-contact {
  padding-right: 50px;
  padding-bottom: 25px;
  border-bottom: 3px solid whitesmoke;
}

.contact-text {
  color: azure;
  font-size: 25px;
}

.div-footer {
  margin-top: 50px;
}
